$color1: rgb(10, 68, 5);
$color2: rgb(89, 189, 65);
$color3: rgb(42, 46, 32);
$color4: rgb(27, 9, 37);
$color5: black;

$font-size-1: 0.6em;
$font-size-2: 0.8em;
$font-size-3: 1em;
$font-size-4: 1.2em;
$font-size-5: 1.4em;
